@import "src/assets/scss/variables";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.icon {
  color: red;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  background-color: $color-black;
  background: url("../../../assets/img/arrow.png") no-repeat center;
  transform: rotate(90deg);
}

.style-block {
  margin: 10px;
  font-size: 14px;
  font-style: italic;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item:hover .delete-btn{
  display: block;
}

.delete-btn {
  display: none;
  width: 20px;
  height: 20px;
  background: url("../../../assets/img/delete.png") no-repeat center;
}

.error-message {
  color: $error-color;
}

.delete-component-btn {
  background-color: $error-color;
  color: $color-white;
  padding: 5px;
  text-transform: uppercase;
}

.apply-btn {
  background-color: $color-6;
  color: $color-white;
  padding: 5px;
  margin-right: 10px;
  text-transform: uppercase;
}

.add-btn {
  background-color: $color-7;
  color: $color-black;
  text-transform: uppercase;
  padding: 5px;
  margin: 5px;
}
