<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="header">
    <input type="text" formControlName="id" hidden="true">
    <span *ngIf="!active" (dblclick)="active = !active">{{title}}</span>
    <input type="text" formControlName="title" *ngIf="active" (dblclick)="active = !active">
    <button type="button" (click)="showStyles = !showStyles" [disabled]="active"> +</button>
  </div>
  <div class="style_item" *ngIf="showStyles">
    <div formGroupName="style">
      <div *ngFor="let st of style| keyvalue">
        <span>{{st.key}}</span>: <span style="color: green" *ngIf="!active" (dblclick)="active = !active">{{st.value}}</span>
        <input type="text" formControlName="{{st.key}}" *ngIf="active" (dblclick)="active = !active">
      </div>
    </div>
    <div formGroupName="anotherProperties">
      <div *ngFor="let option of anotherProperties | keyvalue">
        <div formArrayName="{{option.key}}">
          <div *ngFor="let i of option.value; let idx = index">
            <span *ngIf="!active" (dblclick)="active = !active">{{i}}</span>
            <input type="text" formControlName="{{idx}}" *ngIf="active" (dblclick)="active = !active">
          </div>
        </div>
      </div>
      <button type="button" [hidden]="title !== 'Select'" (click)="addSelectOptions()">add new option</button>
    </div>
  </div>
 <button type="submit" (click)="onSubmit()" [hidden]="!active">Apply</button>
</form>
