<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="header">
    <input type="text" formControlName="id" hidden="true">
      <span *ngIf="!active" (dblclick)="showInputs()">{{title}}</span>
      <input type="text" formControlName="title" *ngIf="active" (dblclick)="showInputs()">
    <i class="icon" (click)="showStyleBlock = !showStyleBlock"></i>
  </div>

  <div class="style-block" *ngIf="showStyleBlock">
    <div formGroupName="style">
      <div *ngFor="let st of style| keyvalue" class="item">
        <div>
          <span (dblclick)="showInputs()">{{st.key}}</span>: <span style="color: green" *ngIf="!active" (dblclick)="showInputs()">{{st.value}}</span>
          <input type="text" formControlName="{{st.key}}" *ngIf="active" (dblclick)="showInputs()">
        </div>
        <i (click)="deleteStyleProp(st.key)" class="delete-btn"></i>
      </div>

      <button class="add-btn" type="button" (click)="showNewPropertyInputs()">Add Property</button>
      <div style="display: flex" *ngIf="showAddProperty">
        <span>
          <div>Property Name</div>
          <input id="propName" type="text" (blur)="isErrorMessage = false" #propName placeholder="enter property name">
        </span>
        <span>
          <div>Property Value</div>
          <input id="propValue" type="text" (blur)="isErrorMessage = false" #propValue placeholder="enter property value">
        </span>
      </div>
      <small class="error-message" *ngIf="isErrorMessage">Fields must be not empty or should not contains already existing properties</small>
    </div>

    <div formGroupName="anotherProperties">
      <div *ngFor="let option of anotherProperties | keyvalue">
        <div formArrayName="{{option.key}}">
          <div *ngFor="let i of option.value; let idx = index" class="item">
            <div>
              <span *ngIf="!active" (dblclick)="showInputs()">{{i}}</span>
              <input type="text" formControlName="{{idx}}" *ngIf="active" (dblclick)="showInputs()">
            </div>
            <i type="button" (click)="deleteOption(idx)" class="delete-btn"></i>
          </div>
        </div>
      </div>
      <button class="add-btn" type="button" [hidden]="title !== 'Select'" (click)="addSelectOptions()">add option</button>
    </div>
  </div>
 <button class="apply-btn" type="submit" [hidden]="!showApplyBtn">Save Changes</button>
 <button class="delete-component-btn" type="button" (click)="deleteComponent()" *ngIf="title !== 'App General Styles'">Delete Component</button>
  <ng-container></ng-container>
</form>

