
<div class="form-builder" #form>
  <app-accordion-section [ngStyle]="tempGeneralStyle"></app-accordion-section>
  <div [ngStyle]="tempGeneralStyle" cdkDropList
       #dropListSection="cdkDropList"
       [cdkDropListData]="dropList"
       [cdkDropListConnectedTo]="[dragListSection]"
       (cdkDropListDropped)="drop($event)">
      <ng-template #elemContainer ></ng-template>
<!--    <span *ngFor="let comp of dropList">-->
<!--      <ng-container  *ngComponentOutlet="comp.componentType">-->
<!--      </ng-container>-->
<!--    </span>-->
<!--    <span *ngFor="let comp of dropList" >-->
<!--      <ng-container [ngComponentOutlet]="comp" >-->
<!--     </ng-container>-->
<!--    </span>-->
<!--    <span *ngFor="let comp of dropList" >-->
<!--      <ng-template [cdkPortalOutlet]="componentPortal" >-->
<!--     </ng-template>-->
<!--    </span>-->
<!--    <ng-template [cdkPortalOutlet]="componentPortal" >-->
<!--    </ng-template>-->
  </div>

  <div [ngStyle]="tempGeneralStyle" cdkDropList
       #dragListSection="cdkDropList"
       [cdkDropListData]="dragList"
       [cdkDropListConnectedTo]="[dropListSection]"
       (cdkDropListDropped)="drop($event)">
    <span *ngFor="let comp of dragList">
      <ng-container  *ngComponentOutlet="comp">
      </ng-container>
    </span>
  </div>
</div>
