
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor="let elem of elementsList |keyvalue">
    <div>
      <input *ngIf="elem.key === 'id'" formControlName="id" hidden="true"/>
      <div *ngIf="elem.key === 'title'" class="header" >
        <div *ngIf="!active" (dblclick)="active = !active">{{elem.value}}</div>
        <input type="text" formControlName="title" *ngIf="active" (dblclick)="active = !active">
        <button type="button" (click)="showStyles = !showStyles" [disabled]="active"> +</button>
      </div>
    </div>
    <div *ngIf="showStyles" class="style_item">
      <div *ngIf="elem.key === 'style'">
        <div *ngFor="let style of elem.value | keyvalue">
          <span>{{style.key}}</span>: <span style="color: green" *ngIf="!active" (dblclick)="active = !active">{{style.value}}</span>
          <input type="text" formControlName={{style.key}} *ngIf="active" (dblclick)="active = !active">

<!--          <app-input-text formControlName={{style.key}} *ngIf="active" (dblclick)="active = !active"></app-input-text>-->
        </div>
      </div>

      <div *ngIf="elem.key === 'anotherProperties'">
        <div *ngFor="let option of elem.value | keyvalue">
          <div *ngFor="let i of option | keyvalue">

<!--            <div formArrayName="{{i.value}}">-->
<!--              &lt;!&ndash;            <div *ngFor="let phone of form.controls[i.value]['controls']; let i = index">&ndash;&gt;-->
<!--              &lt;!&ndash;              <input type="text" formControlName="{{i}}">&ndash;&gt;-->
<!--              &lt;!&ndash;            </div>&ndash;&gt;-->
<!--            </div>-->

            <div *ngFor="let s of i.value | keyvalue">
              <span [hidden]="active" (dblclick)="active = !active">{{s.value}}</span>
              <input type="text" formControlName={{s.value}} *ngIf="active" (dblclick)="active = !active">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <button type="submit" [hidden]="!active">Apply</button>
</form>

