.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.icon {
  color: red;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  background-color: black;
  background: url("../../../../../assets/img/arrow.png") no-repeat center;
  transform: rotate(90deg);
}

.style-block {
  margin: 10px;
  font-size: 14px;
  font-style: italic;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item:hover .deleteBtn{
  display: block;
}

.deleteBtn {
  display: none;
  width: 20px;
  height: 20px;
  background: url("../../../../../assets/img/delete.png") no-repeat center;
}

.error-message{
  color: red;
}

