@import 'src/assets/scss/variables';

.inner {
  padding: 10px;
  border: 2px solid $color-black;
  max-width: 600px;
  max-height: 200px;
  margin: 0 auto;
}

.btn {
  display:block;
  width: 30%;
  text-align: center;
  text-decoration: none;
  background: $color-2;
  color: $color-4;
  padding: 10px 15px;
  margin: 10px auto;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s linear;
  outline: none;
}

.btn-primary {
  background-color:  $color-1;
  color: $color-white;
}
h1{
  text-align: center;
}
